--extra-index-url https://download.pytorch.org/whl/cu130 # Support for CUDA 13.
torch
torchvision
accelerate
codecarbon==3.0.9
matplotlib==3.10.7
numpy==1.26.4
seaborn==0.13.2
transformers==4.57.1
hf_xet # Faster downloads of the models.
optimum
bitsandbytes
ninja